{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {{ form.username.label }}
        {{ form.username(value=user.username, class="form-control") }}

        {{ form.email.label }}
        {{ form.email(value=user.email, class="form-control") }}

        {{ form.image_url.label }}
        {{ form.image_url(value=user.image_url, class="form-control") }}

        {{ form.header_image_url.label }}
        {{ form.header_image_url(value=user.header_image_url, class="form-control") }}

        {{ form.bio.label }}
        {{ form.bio(value=user.bio, class="form-control") }}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}